@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  margin: 0px;
  padding: 0px;
}

html{
  height: 100%;
  overflow: hidden;

}
:root{
  --track-color: rgba(240, 88, 0, 0.785);
  --thumb-color: #d74ff6;
  --thumb-hover-color: #383434;

}


::-webkit-scrollbar{
  width: 8px;
  margin-right: 12px;
}

::-webkit-scrollbar-track {
  background: var(--track-color) ;
}

::-webkit-scrollbar-thumb {
  background: var(--thumb-color);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--thumb-hover-color);
}

::-webkit-scrollbar-button {
  display: none;
}
body{

  min-height: 100vh;
  background-image: url(luffy.png), url(naruto.png), linear-gradient(270deg, rgba(255, 118, 6, 1), rgba(0, 0, 0, 1));
  background-repeat: no-repeat;
  background-position: bottom left, bottom right;
  background-size: contain, contain;
  background-blend-mode: soft-light;
}

header{
  color: gray;
  background-color: #091a3286;;
  top: 0px;
  left: 0px;
  padding: 0;

}

.nav__links{
  height: 3.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;

}

.nav__links li{
  margin: 1px;
  list-style: none;
  cursor: pointer;
}

.nav__links li img{
  transform : rotateZ(20deg);
  height: 3rem;
}

.nav__links li:hover{
  filter: drop-shadow(1rem 1rem 1rem rgb(166, 2, 255));
  transform: scale(1.5);
}

.nav__links li img:hover{

  transform: rotate(360deg);
  transition: transform 500ms 100ms ease-in-out;
}

.box{
  width: 450px;
  height: 620px;
  border-radius: 1rem;
  background:#091A32;
  opacity: 0.9;
  padding: 10px;
  text-align: center;
  margin: auto;
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  align-items: center;
  align-content: center;
  color: gray;
  font-family: 'Century Gothic',sans-serif;
  background-attachment: fixed;

}

@media only screen and (max-width: 450px) {
  html{
    overflow: scroll;
    overflow-x: hidden;
  }
  .box {
    max-width: 300px;
  }
  .nav__links li img{
    display: none;
  }
  .nav__links li:hover{
    color:purple;
    transform: scale(1);
  }
}

.box-img{
  width: 200px;
}

.box-img:hover{
filter: drop-shadow(1rem 1rem 1rem purple);
}

.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}

.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}

.box p{
  text-align: center;
}

.box li{
  display: inline-block;
  margin: 6px;
  padding: 8px;
  list-style: none;
}

.box li a{
  color:rgb(228, 39, 39);
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}

.box li a:hover{
  color:#ffffff;
}
